@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.media-slider {
  width: 1600px;
  position: absolute;
  left: -9999px;
  right: -9999px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 30px;
  :focus {
    outline: none;
  }
}

.slick-active.slick-center .newsItem {
  background-color: $diwala-gray-background;
}

.slick-dots {
  padding-right: 80px;
  li.slick-active button:before {
    font-size:0;
    content: url('../../../graphics/Diwala_Token3_Icon.png');
  }
  li button:before {
    font-size: 12px;
  }
}
