@import "../../core/styles/utilities";
@import "../../core/styles/containers";

.statement {
  width: 100%;
  position: relative;
  height: 500px;
  max-width: 1070px;

  .pictureColumn {
    position: absolute;
    top: 0px;
    left: 23%;
  }
  .statement-man {
    @include breakpoint(1000px){
      width: 250px;
    }
    @include breakpoint(700px){
      width: 200px;
    }

  }
  .statement-woman {
    margin-right: -407px;
    margin-top: -95px;
    @include breakpoint(1000px){
      width: 250px;
      margin: -43px 134px;
    }

    @include breakpoint(700px){
      width: 200px;
      margin: 0 auto;
    }

  }
  .column-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 50px;
    &__left {
      align-items: flex-end;
    }
    &__right {
      align-items: flex-start;
    }
    &__top {
      justify-content: flex-start;
    }
    &__center {
      justify-content: center;
    }
    &__bottom {
      justify-content: flex-end;
    }
    @include breakpoint(700px){
      align-items: center;
      justify-content: flex-end;
    }
    .statement__text {
      @include breakpoint(500px){
        max-width: 200px !important;
        text-align: center;
      }
      @include breakpoint(700px){
        max-width: 250px;
      }
      @include breakpoint(1000px){
        max-width: 300px;
      }
    }
  }
  &__text {
    max-width: 200px;
    &__left {
      text-align: left;
    }
    &__right {
      text-align: right;
    }
  }
  @include min-breakpoint(400px) {
    &__title {
      font-size: $font-size-title-h1;
    }
    &__text {
      max-width: 350px;
    }
  }
  @include min-breakpoint(500px) {
    &__text {
      max-width: 430px;
      font-size: $font-size-title-h5;
    }
  }
  @include min-breakpoint(1200px) {
    &__text {
      font-size: 26px;
      display: inline-block;
    }
  }
}
