@import "../../core/styles/utilities";

.MainText {
  padding: 10px;
  color: #58449e;
}

.Button-holder {
  margin-top: 37px;
  margin-bottom: 37px;
}

.MainBox{
  &__section {
    //padding: 0 $base-space-size * 2;
    //min-height: 100vh;

    &--full-width {
      padding: 0;
      width: 100%;
    }

    &--with-borders{
      border-top: 1px solid $diwala-object-purple;
      border-bottom: 1px solid $diwala-object-purple;
    }

    .longer {
      min-height: 110vh;
    }

    &.longer {
      min-height: 120vh;
    }
  }

  &__container{
    max-width: 1200px;
    margin: auto;
  }
}

.title {
  @include typography-title-h1;
}

