@import "../../core/styles/utilities";

.website-hero {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95%;
  @include breakpoint('xs') {
    position: relative;
    height: 280px;
    width: 100%;
    margin: 120px 0 0px;
  }
  &__logo, &__video {
    &.purple{
      background-image: url("../../../graphics/Diwala_Token.png");
    }
    align-items: center;
    position: absolute;
    -o-object-fit: contain;
    object-fit: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 80vh;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    width: 80%;
    margin-left: 11%;
    @include breakpoint(1200px){
      height: 60vh;
      margin-top: 20vh;
    }
    @include breakpoint(1000px) {
      background-size: 500px auto;
      height: 100%;
      margin-top: 0;
    }
    @include breakpoint(700px){
      background-size: 400px auto;
    }
    @include breakpoint('xs'){
      background-size: 290px auto;
    }
  }

  &__video {
    background-image: url("../../../graphics/Diwala_Token3.png");
    margin-top: 10vh;
    @include breakpoint(1450px){
      //prevents video from covering
      //social buttons in large widths
      z-index: -1;
    }
    @include breakpoint(1200px){
      margin-top: 20vh;
    }
    @include breakpoint(1000px) {
      margin-top: 0;
      z-index: 0;
    }
    @include breakpoint(365px){
      width: 100%;
      margin-left: 0;
    }
  }

  &__text {
    z-index: 1;
    @include typography-title-h5;
    color: $diwala-background;
    max-width: 458px;
    font-size: 36px;
    margin: 0;
    margin-top: 20vh;
    @include breakpoint(1200px) {
      font-size: 32px;
      max-width: 420px;
      margin-top: 0;
    }
    @include breakpoint(1000px) {
      font-size: 30px;
      max-width: 400px;
    }
    @include breakpoint(700px){
      font-size: 26px;
      max-width: 350px;
    }
    @include breakpoint('xs'){
      font-size: 20px;
      max-width: 263px;
    }
  }

  &__buttons {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 22px 6%;
    display: flex;
    justify-content: space-between;
    @include breakpoint('xs'){
      flex-flow: row wrap;
      justify-content: space-around;
      position: relative;
      width: 100%;
    }
    .button--join,
    .button--collaborate {
      @include breakpoint('xs'){
        margin-bottom: 15px;
      }
    }
    .button--join{
      font-size: 18px;
      height: 60px;
      max-width: 230px;
      width: 230px;
      //font-size: 26px;
      //max-width: 310px;
      padding: 2px 24px;
      //@include breakpoint('lg'){
      //  font-size: 18px;
      //  max-width: 224px;
      //}
      @include breakpoint('xs'){
        font-size: 13px;
        height: 45px;
        width: 190px;
      }
    }
    .button--collaborate{
      font-size: 18px;
      max-width: 230px;
      //font-size: 23px;
      //max-width: 100%;
      font-weight: bold;
      height: 60px;
      //@include breakpoint('lg'){
      //  font-size: 18px;
      //  max-width: 210px;
      //}
      @include breakpoint('xs'){
        font-size: 13px;
        height: 45px;
        min-height: 45px;
        width: 190px;
      }
    }
  }

  &__social-icons{
    position: absolute;
    top: -30px;
    width: 224px;
    left: 6%;
    @include breakpoint(576px){
      left: 0;
      top: -15px;
      position: inherit;
      width: 50%;
      margin-right: 50%;
    }
    @include breakpoint(441px){
      display: none;
    }
    .social-icon{
      height: 30px !important;
      width: 30px !important;
      margin: 0 5px;
    }
  }

}
