@import "../../core.scss";
@import "../../colors.scss";

.Button-link {
  border-radius: 50px;
  padding: 25px;
  font-size: 15px;
  margin: 8px;
  font-family : inherit;
  cursor: pointer;
  text-decoration: none;
}

.yellow {
  background-color: $yellow;
  color: $purple-dark
}

.purple {
  background-color: $purple-dark;
  color: white
}

@media (max-width: $min-size) {

}


@media (min-width: $min-size) and (max-width: $medium-size) {

}

@media (min-width: $medium-size) and (max-width: $max-size) {

}

@media (min-width: $max-size) {

}
