@import "../../core/styles/utilities";

.team--core {
  .team__person-image {
    max-width: 200px;
  }
  .team__list {
    margin: $base-space-size * 2 auto;
  }
  .team__person {
    padding: $base-space-size;
  }
  @media (min-width: 450px) {
    .team__person-image {
      max-width: 100px;
    }
    .team__list {
      display: flex;
      justify-content: center;
      max-width: 450px;
    }
  }
  @media (min-width: 600px) {
    .team__person-image {
      max-width: 150px;
    }
    .team__list {
      max-width: 600px;
    }
  }
  @media (min-width: 750px) {
    .team__person-image {
      max-width: 200px;
    }
    .team__list {
      max-width: 750px;
    }
  }
}

.team--others {
  $item-height: 115px; // magic number - requested by Marina ^_^
  $item-width: 150px;
  .team__title {
    @include typography-title-h4;
    height: $item-height;
    width: 50%;
  }
  .team__person-image {
    max-width: 100px;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: $item-height * -1 auto 0;
    max-width: $item-width * 2;
    padding: 0;
    .team__person {
      height: $item-height;
      margin-left: $item-width;
      width: $item-width;
      &:nth-child(2n) {
        margin-left: 0;
        margin-right: $item-width;
      }
    }
    .team__person-title {
      min-height: 3em;
    }
  }
  @media (min-width: $item-width * 3 + $base-space-size * 5) {
    .team__title {
      height: auto;
      width: auto;
    }
    .team__list {
      margin: $base-space-size * 4 auto $item-height + $base-space-size * 4;
      max-width: $item-width * 3;
      .team__person {
        &:nth-child(2n) {
          margin-left: $item-width;
          margin-right: 0;
        }
        &:nth-child(3n+1) {
          margin-left: 0;
        }
        &:nth-child(3n) {
          margin-right: $item-width;
        }
      }
    }
  }
  @media (min-width: $item-width * 5 + $base-space-size * 5) {
    .team__list {
      max-width: $item-width * 5;
      .team__person {
        margin-left: $item-width;
        &:nth-child(3n+1) {
          margin-left: $item-width;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
        &:nth-child(5n+1) {
          margin-left: 0;
        }
        &:nth-child(5n) {
          margin-right: $item-width;
        }
      }
    }
  }
  @media (min-width: $item-width * 7 + $base-space-size * 5) {
    .team__list {
      max-width: $item-width * 7;
      .team__person {
        &:nth-child(5n+1) {
          margin-left: $item-width;
        }
        &:nth-child(5n) {
          margin-right: 0;
        }
        &:nth-child(7n+1) {
          margin-left: 0;
        }
        &:nth-child(7n) {
          margin-right: $item-width;
        }
      }
    }
  }
}

.team__title-core {
  @include typography-title-h1;
}

.team__title-others {
  @include typography-title-h2;
}

.team__list {
  list-style: none;
  padding-left: 0;
}

.team__list--others {
  //display: grid;
  .team__person {
    //width: 50%;
    &:first-child {
      //margin-top: 100px;
    }
  }
}

.team__person {
  //margin-bottom: $base-space-size * 2;
}

.team__person-name {
  font-weight: bold;
}

.team__person-title {
  @include typography-small;
}

.team__person-description {
  @include typography-small;
}
