@import "../../core/styles/utilities";

.center-wrapper{
  width: 45%;
  @include flex-row;
}

.image-container {
  position: relative;
  @include flex-row;
  width: 100%;
  @include breakpoint(md){
    height: 490px;
    margin-top: 45px;
  }
}

.image-container img {
  position: absolute;
  top: 0px;
  right: 13%;
  max-width: 200px;
  z-index: 1;
  @include breakpoint(xs){
    max-width: 130px;
  }
}

.image-container img:nth-child(2) {
  top: 90px;
  right: 47%;
  z-index: 0;
}
