@import "../../core/styles/utilities";

.newsItem {
  width: 280px;
  height: 330px;
  border: 1px solid $diwala-detail-gray;
  border-radius: 3px;
  margin: 15px;
  background-color: $diwala-background;
  color: transparent;
  text-overflow: clip;
  text-indent: 0;

  &__list-item {
     height: 330px;
   }

  &__section {
    height: 130px;
    padding: 30px;
  }

  &__logo {
    margin: 0 auto;
    text-align: center;
    max-height: 100%;
    max-width: 80%;
  }

  &__quote {
    text-align: left;
    text-indent: 0;
    font-size: $font-size-base;
    font-family: $font-family-simple;
    color: $diwala-gray-text;
    height: 50%;
    margin: 0;
  }
}
