@import "../../core/styles/utilities";

.newsitem {
  width: 270px;
  height: 320px;
  border: 1px solid $diwala-detail-gray;
  border-radius: 3px;
  margin: 10px;
  background-color: $diwala-background;
  color: transparent;

  :first-child {
    // background-color: $diwala-gray-background;
  }

  &__list-item {
     height: 100%;
   }

  &__section {
    height: 50%;
    padding: 30px;
  }

  &__logo {
    margin: 0 auto;
    text-align: center;
    height: 100px;
  }

  &__quote {
    text-align: left;
    font-size: $font-size-base;
    font-family: $font-family-simple;
    color: $diwala-gray-text;
    height: 50%;
    &:before, &:after {
      content:" \" ";
    }
    margin: 0;
  }
}
