.App {
  background-image: none !important;
}

.Footer__container.student {
  display: none;
}

.landing {
  width: 100vw;
  position: relative;
  // overflow: hidden;
}

.token-bg {
  position: fixed;
  width: 400%;
  height: auto;
  top: 20%;
  left: -20%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.landing-container-student {
  height: 100vh;
  // overflow: hidden;
  .landing-header-container {
    z-index: 1;
    .landing-header {
      padding-top: 100px;
      text-align: left;
      font-size: 33px;
      letter-spacing: 0.6px;
      line-height: 1.3em;
      font-family: 'Proxima Nova Regular';
      color: #46047C;
      p {
        margin: 0;
      }
    }
    .landing-description {
      text-align: left;
      font-size: 18px;
      letter-spacing: 0.34px;
      line-height: 1.3em;
      color: #39353D;
      font-family: 'Proxima Nova Regular';
    }
    .app-store {
      width: 135px;
    }
    .google-play {
      width: 150px;
    }
  }
  .landing-secondary-container {
    .mobile {
      margin-top: 5px;
      width: calc(100vw - 20vw);
      -webkit-transition: all 1s;
      transition: all 1s;
    }
  }
}

@media only screen and (min-width: 500px) {
  .token-bg {
    width: 100%;
    top: -30%;
    left: 60%;
  }
  .landing-container-student{
    max-width: calc(100vw - 6vw);
    .landing-secondary-container {
      .mobile {
        width: 100%;
        margin-top: -30%;
        margin-left: -70px;
      }
    }
    .landing-header-container {
      .landing-header {
        font-size: 28px;
      }
      .landing-description { 
        font-size: 18px;
      }
      .join-now-btn-container {
        justify-content: left;
        .join-now-btn {
          font-size: 18px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 812px) {
  .token-bg {
    width: 200%;
    top: 20%;
    left: 15%;
  }
  .landing-container-student{
    .landing-secondary-container {
      .mobile {
        width: 100%;
        margin-top: 100%;
      }
    }
    .landing-header-container {
      .landing-header {
        width: 450px;
        font-size: 44px;
      }
      .landing-description {
        font-size: 20px;
      }
      .join-now-btn-container {
        justify-content: left;
      }
    }
  }
}

@media only screen and (min-width: 812px) and (max-width: 1024px) {
  .token-bg {
    width: 100%;
    top: -30%;
    left: 60%;
  }
  .landing-container-student{
    max-width: calc(100vw - 8vw);
    .landing-secondary-container {
      .mobile {
        width: 100%;
        margin-top: -30%;
        margin-left: -70px;
      }
    }
    .landing-header-container {
      .landing-header {
        width: unset;
        font-size: 1.6em;
      }
      .landing-description {
        font-size: 1.1em;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .token-bg {
    width: 200%;
    top: -65%;
    left: 50%;
  }
  .landing-container-student{
    .landing-secondary-container {
      .mobile {
        width: 60%;
        margin-top: 25%;
        margin-left: 15%;
      }
    }
    .landing-header-container {
      margin-top: 10%;
      .landing-header {
        width: unset;
        font-size: 44px;
      }
      .landing-description {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .token-bg {
    width: 200%;
    top: 20%;
    left: 15%;
  }
  .landing-container-student{
    .landing-secondary-container {
      .mobile {
        width: 100%;
        margin-top: 110%;
        margin-left: -30%;
      }
    }
    .landing-header-container {
      .landing-header {
        width: 500px;
        font-size: 44px;
      }
      .landing-description {
        font-size: 20px;
      }
      .join-now-btn-container {
        // font-size: 1.3em;
        justify-content: left;
        .join-now-btn {
          width: 180px;
          height: 65px;
          line-height: 65px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .token-bg {
    width: 100%;
    top: -50%;
    left: 50%;
  }
  .landing-container-student{
    max-width: calc(100vw - 10vw);
    .landing-header-container {
      .landing-header {
        font-size: 48px;
      }
      .landing-description {
        font-size: 23px;
      }
      .join-now-btn-container {
        .join-now-btn {
          font-size: 20px;
        }
      }
    }
    .landing-secondary-container {
      .mobile {
        width: 40%;
        margin-top: 30%;
        margin-left: -30%;
      }
    }
  }
}
