@import "../../core/styles/utilities";

$header-height: 50px;
$header-padding: 20px;
$header-total-height: $header-height + $header-padding * 2;

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 36px 6%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  &__logo{
    width: 130px;
    height: auto;
    align-self: flex-start;
    @include breakpoint('sm'){
      width: 130px;
    }
  }
  
}
