@import "../../core/styles/index";

$header-height: 50px;
$header-padding: 20px;
$header-total-height: $header-height + $header-padding * 2;

.Header {
  background-color: white;
  height: $header-height;
  padding: $header-padding;
  color: $diwala-text-purple;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Header + * {
  margin-top: -$header-total-height;
  > *:first-child {
    padding-top: $header-total-height;
  }
}

.Header-logo {
  max-height: 100%;
  max-width: 100%;
  height: $header-height;
  align-self: flex-start;
}
