
@import "../../core/styles/colors.scss";

.Footer {
   background: $diwala-background;
   padding-bottom: 5px;
   width:100%;
}

.social-icons {
  a {
    height: 35px !important;
    margin: 5px;
    width: 35px !important;
  }
}

.copyright {
  color: $diwala-purple;
  font-size: 10px;
}
