@import "../../core/styles/utilities";
@import "../../core/styles/base";

.Footer {
  background-image: url('../../../graphics/footer/Webpage_Diwala_Mobile.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  display: flex;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  width: 100%;
  @include min-breakpoint(400px) {
    background-image: url('../../../graphics/footer/Webpage_Diwala_Ipad2-06-06.png');
    background-size: 100%;
  }
  //@include min-breakpoint(700px) {
  //  margin-top: 0;
  //}
  @include min-breakpoint(1024px) {
    background-image: url('../../../graphics/footer/Bubble_rightside-06.png');
    background-position: right bottom;
    background-size: auto;
  }
  &__diwala-icon {
    width: 120px;
    //margin-bottom: 30px;
    margin-top: 50px;
    //@include min-breakpoint(700px) {
    //  width: 160px;
    //}
  }
  &__title {
    @extend .title--h1;
    font-size: 33px;
    //font-weight: bold;
    margin-bottom: $base-space-size;
    margin-top: $base-space-size * 2;
    max-width: 230px;
    @include min-breakpoint(700px) {
      font-size: 34px;
      max-width: 100%;
    }
    @include min-breakpoint(1200px) {
      font-size: 57px;
      text-indent: 10px;
    }
  }
  &__buttons {
    width: 100%;
    padding: 0 15px;
    max-width: 310px;
    //@include min-breakpoint(700px) {
    //  max-width: 350px;
    //  padding: 0;
    //}
    //@include min-breakpoint(1200px) {
    //  max-width: 500px;
    //}
    > * {
      margin-top: $base-space-size * 2;
    }
    .button {
      width: 100%;
      max-width: 100%;
      cursor: pointer;
      font-size: 18px;
      transition: none;
      //@include min-breakpoint(700px) {
      //  min-height: 52px;
      //  font-size: 24px;
      //  //margin-bottom: 20px;
      //  padding: 5px 20px;
      //}
      //@include min-breakpoint(1200px) {
      //  min-height: 73px;
      //  font-size: 35px;
      //  max-width: 500px;
      //  //margin-bottom: 25px;
      //}
    }
  }
  &__bottom {
    margin-top: $base-space-size * 13;
    //@include min-breakpoint(1200px) {
    //  margin-top: 120px;
    //}
  }
  &__logo {
    height: 30px;
    @include min-breakpoint(700px) {
      height: 45px;
    }
  }
  &__social-icons {
    position: absolute;
    margin: -5px auto 0;
    left: 0;
    right: 0;
    @include min-breakpoint(700px) {
      margin: 10px auto 0;
    }
    a {
      height: 30px !important;
      margin: 5px;
      width: 30px !important;
      &:nth-child(1) {
        margin-left: -1px;
      }
      &:nth-child(2) {
        margin-right: 120px;
        @include min-breakpoint(700px) {
          margin-right: 190px;
        }
      }
    }
  }
  &__copyright {
    color: $diwala-text-purple;
    font-size: 9px;
    margin: 20px 0;
    @include min-breakpoint(700px) {
      font-size: 13px;
    }
    @include min-breakpoint(1200px) {
      font-size: 15px;
    }
  }
  // icon moving around
  margin-top: 190px;
  position: relative;
  &:before {
    background-image: url("../../../graphics/Diwala_Logo-13.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    content: "";
    height: 218px;
    left: 0;
    position: absolute;
    top: -130px;
    width: 128px;
    //@include min-breakpoint(600px) {
    //  background-size: 400px;
    //  height: 400px;
    //  width: 180px;
    //}
    //@include min-breakpoint(900px) {
    //  background-size: 550px;
    //  height: 550px;
    //  width: 255px;
    //}
    @include min-breakpoint(1024px) {
      background-image: url("../../../graphics/Diwala_Logo-09.png");
      height: 396px;
      width: 279px;
    }
  }
}
