
@import "../../core/styles/colors.scss";

.Footer {
   position:absolute;
   bottom:0;
   width:100%;
   background: $diwala-background;
   margin-bottom: 5px;
}

.social-icons {
  a {
    margin: 5px;
    height: 35px !important;
    width: 35px !important;
  }
}

.copyright {
  color: $diwala-purple;
  font-size: 10px;
}
