@import "../../core/styles/utilities";
@import "../../core/styles/containers";

.mission {
  @extend .logo-container;
  margin-bottom: $base-space-size * 9;
  margin-top: $base-space-size * 9;
  text-align: left;
  text-align: start;
  @include min-breakpoint(1200px){
    height: 770px;
    position: relative;
    text-align: right;
    padding-top: 220px;
    max-width: 1070px;
  }
  .token-image{
    display: none;
    @include min-breakpoint(1200px){
      display: block;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: left center;
      width: 1060px;
      height: 1000px;
      position: absolute;
      left: -400px;
      top: -187px;
      z-index: -1;
    }
  }
  &__title {
    font-size: 34px;
  }
  &__text {
    max-width: 200px;
  }
  @include min-breakpoint(400px) {
    &__title {
      font-size: $font-size-title-h1;
    }
    &__text {
      max-width: 350px;
    }
  }
  @include min-breakpoint(500px) {
    &__text {
      max-width: 430px;
      font-size: $font-size-title-h5;
    }
  }
  @include min-breakpoint(1200px) {
    &__text {
      font-size: 26px;
      text-align: right;
      display: inline-block;
    }
  }
  //@include min-breakpoint(700px) {
  //  margin-left: 100px;
  //}
  //@include min-breakpoint(900px) {
  //  margin-left: 200px;
  //}
}
