@import "../../core/styles/utilities";

.MainText {
  padding: 10px;
  color: #58449e;
}

.Button-holder {
  margin-top: 37px;
  margin-bottom: 37px;
}

.Certificates {
  &__container {
    background-color: white;
    padding: 1px 0;  // Added to prevent margin collapse
    @include min-breakpoint(1200px) {
      background-color: rgba(0,0,0,0);
      padding: 0;
    }
  }

  .subscriptionSignupForm {
    @include breakpoint(1200px){
      margin-top: 0px;
    }
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__closed {
      justify-content: flex-start;
    }

    .subscription-signup-button{
      margin: 0 auto;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    .closed ~ .subscription-signup-button {
      margin: 0;
    }

    .open ~ .subscription-signup-button {
      @include invert_button;
      width: 150px;
    }

    .subscription-signup-button.displayed{
      opacity: 1;
    }
    .subscription-signup-button.gone{
      opacity: 0;
    }
    .button-label {
      width: 150px;
      text-align: center;
      margin: 15px auto;
      font-weight: bold;
      opacity: 1;
    }
    .button-label.open {
      display: none;
    }

    .button.closed {
      display: none;
    }
  }
  &__section {
    min-height: 60vh;
    &--full-width {
      padding: 0;
      width: 100%;
    }

    &--full-height{
      min-height: 100vh;
    }

    &--home {
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint('xs'){
        flex-flow: row wrap;
      }
    }

    &--ngo {
      background-color: white;
      display: flex;
      @include min-breakpoint(1200px){
        background-color: rgba(0,0,0,0);
        justify-content: center;
        align-items: center;
        min-height: 60vh;
      }
      @include min-breakpoint(700px){
        justify-content: center;
        min-height: 60vh;
        padding-left: 100px;
      }
      @include breakpoint(1199px){
        padding-left: 10%;
      }
    }

    &--statement {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 50px;
      @include breakpoint('xs'){
        flex-flow: row wrap;
      }
    }

    &--picture{
      position: relative;
      height: 400px;
      min-height: auto;
      overflow: hidden;
      &:after{
        content: "";
        width: 160px;
        height: 53px;
        position: absolute;
        right: 5px;
        top: 5px;
      }
      @include min-breakpoint(700px){
        height: 60vh;
      }
      @include min-breakpoint(1200px){
        min-height: auto;
        display: none;
      }
      .static-picture{
        @include min-breakpoint(1200px){
          display: none;
        }
      }
    }
  }
}

.title {
  @include typography-title-h1;
}
