@import "../../core/styles/utilities";

.MainText {
  padding: 10px;
  color: #58449e;
}

.Button-holder {
  margin-top: 37px;
  margin-bottom: 37px;
}

.Certificates {
  &__section {
    min-height: 60vh;
    &--full-width {
      padding: 0;
      width: 100%;
    }

    &--full-height{
      min-height: 100vh;
    }

    &--home {
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint('xs'){
        flex-flow: row wrap;
      }
    }

    &--ngo {
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint('xs'){
        flex-flow: row wrap;
      }
    }

    &--statement {
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint('xs'){
        flex-flow: row wrap;
      }
    }

    &--picture{
      position: relative;
      height: 100vh;
      min-height: auto;
      overflow: hidden;
      &:after{
        content: "";
        background-image: url('../../../graphics/Copyright.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
        width: 160px;
        height: 53px;
        position: absolute;
        right: 5px;
        top: 5px;
      }
      @include min-breakpoint(700px){
        height: 80vh;
      }
      @include min-breakpoint(1200px){
        min-height: auto;
        display: none;
      }
      .static-picture{
        @include min-breakpoint(1200px){
          display: none;
        }
      }
    }
  }
}

.title {
  @include typography-title-h1;
}
