@import "../../core/styles/utilities";

.MainText {
  padding: 10px;
  color: #58449e;
}

.Button-holder {
  margin-top: 37px;
  margin-bottom: 37px;
}

.Certificates {
  .subscriptionSignupForm {
    margin-top: -50px;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .subscription-signup-button{
      margin: 0 auto;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    .subscription-signup-button.displayed{
      opacity: 1;
    }
    .subscription-signup-button.gone{
      opacity: 0;
    }
    .button-label {
      width: 150px;
      text-align: center;
      margin: -100px auto;
      font-weight: bold;
      opacity: 1;
    }
    .button-label.open {
      display: none;
    }

    .button.closed {
      display: none;
    }
  }
  &__section {
    min-height: 60vh;
    &--full-width {
      padding: 0;
      width: 100%;
    }

    &--full-height{
      min-height: 100vh;
    }

    &--home {
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint('xs'){
        flex-flow: row wrap;
      }
    }

    &--ngo {
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint('xs'){
        flex-flow: row wrap;
      }
    }

    &--statement {
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint('xs'){
        flex-flow: row wrap;
      }
    }

    &--picture{
      position: relative;
      height: 100vh;
      min-height: auto;
      overflow: hidden;
      &:after{
        content: "";
        background-image: url('../../../graphics/Copyright.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
        width: 160px;
        height: 53px;
        position: absolute;
        right: 5px;
        top: 5px;
      }
      @include min-breakpoint(700px){
        height: 80vh;
      }
      @include min-breakpoint(1200px){
        min-height: auto;
        display: none;
      }
      .static-picture{
        @include min-breakpoint(1200px){
          display: none;
        }
      }
    }
  }
}

.title {
  @include typography-title-h1;
}
