@import "../../../core/styles/index";

.newsletter-button {
  @include button;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.newsletter-button.gone{
  opacity: 0;
}

.newsletter-button.displayed{
  opacity: 1;
}
