@import "colors";
@import "typography";
@import "variables";

@mixin button {
  @include typography-base;
  font-weight: bold;
  background: $diwala-object-purple;
  border-radius: $font-size-base * 4;
  border: 4px solid $diwala-object-purple;
  color: $diwala-background;
  display: inline-block;
  max-width: 150px; // magic number
  padding: $base-space-size $base-space-size * 3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  @include breakpoint('xs'){
    border-width: 3px;
  }
}

@mixin invert_button {
  @include typography-base;
  @include button
  background: $diwala-background;
  color: $diwala-object-purple;
}

@mixin yellow_button {
  @include typography-base;
  @include button
  background: $diwala-yellow;
  color: $diwala-object-purple;
  border: 4px solid $diwala-yellow;
}
