$diwala-text-purple: #5d05a5;
$diwala-text-invert: white;
$diwala-object-purple: #5d05a7;
$diwala-background: white;
$diwala-yellow: #ffee66;
$diwala-detail-gray: #d1d1d1;
$diwala-gray-text: #333;
$diwalaIconPurple: #580394;
