@import "./colors.scss";

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin flex-start {
  justify-content: flex-start;
  align-items: center;
}

.flex-btn-group {
  @include flex-column;
  @include flex-start;
  > * {
    margin-top: 20px;
  }
}
