@import "colors";
@import "functions";

$font-family-base: 'Ubuntu', sans-serif;

$font-size-base: 16px;
$font-size-scale: 1.2;
$font-size-title-h1: ceil($font-size-base * pow($font-size-scale, 6)); // 48px
$font-size-title-h2: ceil($font-size-base * pow($font-size-scale, 4)); // 36px
$font-size-title-h3: ceil($font-size-base * pow($font-size-scale, 3)); // 28px
$font-size-title-h4: ceil($font-size-base * pow($font-size-scale, 2)); // 24px
$font-size-title-h5: ceil($font-size-base * pow($font-size-scale, 1)); // 20px
$font-size-title-h6: $font-size-base * pow($font-size-scale, 0); // 16px
$font-size-small: 14px; // 14px

$font-line-height: 1.35;

@mixin typography-base() {
  color: $diwala-text-purple;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $font-line-height;
}

@mixin typography-button() {
  color: $diwala-text-purple;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $font-line-height;
}

@mixin typography-ingress() {
  color: $diwala-text-purple;
  font-size: $font-size-title-h5;
  font-family: $font-family-base;
  font-weight: 300;
  line-height: $font-line-height;
}

@mixin typography-label() {
  color: $diwala-text-purple;
  font-size: $font-size-base;
  font-family: $font-family-base;
  font-weight: 600;
  line-height: $font-line-height;
}

@mixin typography-title-h1() {
  color: $diwala-text-purple;
  font-size: $font-size-title-h1;
  font-family: $font-family-base;
  line-height: $font-line-height;
  margin: 1em 0 0.5em;
  text-rendering: optimizeLegibility;
}

@mixin typography-title-h2() {
  color: $diwala-text-purple;
  font-size: $font-size-title-h2;
  font-family: $font-family-base;
  line-height: $font-line-height;
  margin: 1em 0 0.5em;
  text-rendering: optimizeLegibility;
}

@mixin typography-title-h3() {
  color: $diwala-text-purple;
  font-size: $font-size-title-h3;
  font-family: $font-family-base;
  line-height: $font-line-height;
  margin: 1em 0 0.5em;
  text-rendering: optimizeLegibility;
}

@mixin typography-title-h4() {
  color: $diwala-text-purple;
  font-size: $font-size-title-h4;
  font-family: $font-family-base;
  line-height: $font-line-height;
  margin: 1em 0 0.5em;
  text-rendering: optimizeLegibility;
}

@mixin typography-title-h5() {
  color: $diwala-text-purple;
  font-size: $font-size-title-h5;
  font-family: $font-family-base;
  line-height: $font-line-height;
  margin: 1em 0 0.5em;
  text-rendering: optimizeLegibility;
}

@mixin typography-title-h6() {
  color: $diwala-text-purple;
  font-size: $font-size-title-h6;
  font-family: $font-family-base;
  line-height: $font-line-height;
  margin: 1em 0 0.5em;
  text-rendering: optimizeLegibility;
}

@mixin typography-small() {
  color: $diwala-text-purple;
  font-size: $font-size-small;
  font-family: $font-family-base;
  line-height: 1.25;
}
