@import "../../../core/styles/utilities";

.button--invert {
  @include invert_button;
}
.labeledScrollToButton {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__left {
    align-items: flex-start;
    text-align: left;
  }
  &__right {
    align-items: flex-end;
    text-align: right;
  }
  &__top {
    justify-content: flex-start;
  }
  &__center {
    justify-content: center;
  }
  &__bottom {
    justify-content: flex-end;
  }

  .button-label {
    width: 150px;
    margin-left: 4px;
    margin-bottom: 15px;
    font-weight: bold;
  }
}
