@import "../../core/styles/utilities";

$small-screen-bullet-padding: 30px;

.benefits {
  margin: $base-space-size * 10 auto;
  padding: 0 $base-space-size * 6;
  text-align: left;
  @include min-breakpoint(sm) {
    padding: 0;
    width: 480px;
  }

  &__title {
    margin-top: 0;
    padding-left: $small-screen-bullet-padding;
    font-size: 32px;
    @include min-breakpoint(sm) {
      padding-left: 0;
    }
    @include min-breakpoint(md) {
      //padding-left: 100px;
    }
    @include min-breakpoint(lg) {
      //font-size: 46px;
      //padding-left: 22px;
    }
    @include min-breakpoint(xl) {
      //font-size: 63px;
      //padding-left: 12px;
    }
  }

  &__list {
    margin: 0;
    overflow: auto;
    text-align: start;
    @include min-breakpoint(sm) {
      display: grid;
      grid-template-columns: 200px 1fr; // magic number - requested by Marina
      //width: 100%;
      //padding: 0 40px;
      //width: 55%;
    }
  }

  &__list-item-label {
    @include typography-title-h5;
    margin: 0;
    padding: 0 0 0 $small-screen-bullet-padding;
    position: relative;
    width: 100%;
    @include min-breakpoint(sm) {
      padding: 0 $small-screen-bullet-padding 0 0;
    }
    @include min-breakpoint(md) {
      //font-size: 24px;
      //padding-right: 65px;
    }
    @include min-breakpoint(lg) {
      //width: 50%;
      //text-align: right;
      //padding-right: 85px;
      //font-size: 32px;
    }
    &:after {
      content: '';
      position: absolute;
      width: $base-space-size * 1.5;
      height: $base-space-size * 1.5;
      border-radius: 50%;
      background-color: $diwala-text-purple;
      //right: 38px;
      left: 0;
      top: $base-space-size / 2;
      @include min-breakpoint(sm) {
        left: auto;
        right: 0;
        top: $base-space-size;
      }
    }
  }

  &__list-item-value {
    @include typography-small;
    margin: $base-space-size * 0.75 0 $base-space-size * 3;
    padding: 0 0 0 $small-screen-bullet-padding;
    width: 100%;
    @include min-breakpoint(sm){
      margin-top: 0;
      //font-size: 20px;
    }
    @include min-breakpoint(lg){
      font-size: 16px;
    }
    @include min-breakpoint(xl){
      font-size: 20px;
      padding-top: 5px;
      width: 50%;
    }
  }
}
