.Diwala-bold {
  font-family: "Proxima Nova Bold", serif;
  font-weight: 600; }

.MainText {
  padding: 10px; }

.Button-holder {
  margin-top: 37px;
  margin-bottom: 37px; }

@media (max-width: 500px) {
  .MainText {
    margin: 0 auto; }
  .Look-figure {
    height: 200px;
    margin-top: -50px; } }

@media (min-width: 500px) and (max-width: 700px) {
  .Look-figure {
    height: 200px;
    margin-top: -50px; } }

@media (min-width: 700px) and (max-width: 1000px) {
  .MainText {
    margin-left: 32%; }
  .Look-figure {
    height: 200px;
    position: absolute;
    left: 7%;
    margin-top: -50px; } }

@media (min-width: 1000px) {
  .MainBox {
    display: flex;
    flex-direction: row; }
  .Look-figure {
    margin-left: 250px;
    height: 300px;
    margin-top: -50px; } }
